<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item mx-5">
                    <a class="nav-link active" aria-current="page" href="index.php" style="color: white">Home</a>
                </li>
                <li class="nav-item dropdown mx-3">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
                        Chapters
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="index.php?page=allChapters">Chapters Table</a></li>
                        <li><a class="dropdown-item" href="index.php?page=createChapter">Create Chapter</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown mx-3">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
                        Chapters Menu
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="index.php?page=allChaptersMenu">Chapters Menu Table</a></li>
                        <li><a class="dropdown-item" href="index.php?page=createChapterMenu">Create Chapter Menu</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown mx-3">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
                        Chapters Sub Menu
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="index.php?page=allChaptersSubMenu">Chapters Sub Menu Table</a></li>
                        <li><a class="dropdown-item" href="index.php?page=createChapterSubMenu">Create Chapter Sub Menu</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown mx-3">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
                         Words
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="index.php?page=allWords">Words Table</a></li>
                        <li><a class="dropdown-item" href="index.php?page=createWord">Create Words</a></li>
                    </ul>
                </li>

            </ul>
            <form class="d-flex" role="logout">

                <a class="btn bg-warning" href="index.php?page=logout" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-closed" viewBox="0 0 16 16">
                        <path d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z"/>
                        <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z"/>
                    </svg>
                     Logout
                </a>
            </form>
        </div>
    </div>
</nav>